#profile{
    background-image:radial-gradient(white,rgb(27, 6, 113)) ;
    padding: 30px;
    min-width: 250px;
    min-height: 210px;
    margin: 10px;
    border-radius: 10px;
    line-height: 30px;
    text-align: center;
    box-shadow: 10px 10px 10px black;   
}
#profile:hover{
    width: 300px;
    height: 230px;
    transition: 1s;
}
#profile>button{
    padding: 5px;
    mix-blend-mode: darken;
    border-radius: 10px;
}
#profile>button>a{
    text-decoration: none;
    color: black;
}
